<footer id="footer" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text">Reddit Mood Analyzer</h5>
                <p class="grey-text text-lighten-4">Analyzing the mood of any subreddit using <a href="https://www.ibm.com/watson/services/tone-analyzer/">IBM Watson</a> and <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/">Microsoft Azure</a></p>
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class = "col s12">
                        <span>CS 205: Software Engineering</span>
                    </div>
                </div>
            </div>
          </div>
</footer>
</body>
</html>